apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: inferx-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - inferx.34.238.239.209.nip.io
    secretName: inferx-tls
  rules:
  - host: inferx.34.238.239.209.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: inferx-dashboard
            port:
              number: 1250
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: brian@remodl.ai
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: traefik
